# common, PHPStorm
.DS_Store
.idea/*
Thumbs.db
*.sql
# site
!readme.html
!.gitignore
!tests
!composer.json
*
!/composer.json
!/.gitignore
!/composer.lock
/composer.lock
!/README.md
/src
/src/*
/composer.json
!/www/bashorg.php
!/www